footer {
    display: flex;
    justify-content: center;
}

.box-button-vertical-edit {
    display: flex;
    height: 50%;
    top: 40%;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
}

.box-button-horizontal-edit {
    display: inherit;
    width: 50%;
    justify-content: space-around;
    // align-items: center;
}

#backwardButton {
    padding: 1.5rem;
    background: url('../../icon/backward-solid-full.svg');
}

#playAndPauseButton {
    padding: 1.5rem;
    background: url('../../icon/play-solid-full.svg');
}

#forwardButton {
    padding: 1.5rem;
    background: url('../../icon/forward-solid-full.svg');
}

#zoom-slider {
    display: none;
    position: absolute;
}