header {
    display: flex;
    justify-content: center;
}

.image-box {
    display: inherit;
    border: 2px solid white;
    justify-content: space-between;
    // width: 50%;
}

.send-image-box {
    display: inherit;
    align-items: center;

}

#image-prev {
    width: 30%;
    height: 12rem;
}