main {
    display: flex;
    margin-top: 2%;
    overflow: hidden;
}

.box-audioWave {
    display: inherit;
    flex-direction: column;
    position: relative;
    border: 2px solid white;
    left: 8%;
    width: 90%;
    height: 15rem;
    justify-content: space-around;
    // overflow: hidden;
    overflow-x: auto;
}

#box-time-audioWav {
    display: inherit;
    justify-content: space-between;
    color: white;
    margin: -20px 5px 0px 5px;
    // margin-right: 20px;
}

.elements-timeBar {
    font-size: 20px;
}

.box-from-image-wave {
    display: inherit;
    width: 99%;
    height: 50%;
    align-items: center;   
}

#image-wave {
    border: 4px solid red;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    // margin-right: -10px;
}


#point-control-wave {
    position: absolute;
    top: 0%;
    width: 5px;
    // margin-left: 98.8%;
    left: 0%;
    height: 70%;
    border-radius: 20px;
    background-color: blue;
}

#point-control-wave::before {
    content: '';
    display: flex;
    position: relative;
    left: -150%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aqua;
    // border: 4px solid red;
}
