@import '../variables.scss';

#main {
    display: flex;
    margin: 6px;
    justify-content: center;
}

footer {
    display: flex;
    overflow: hidden;
}

.boxButtonVerticalEdit {
    display: flex;
    height: 50%;
    top: 52%;
    left: 5px;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
}

.boxButtonHorizontalEdit {
    display: inherit;
    width: 45%;
    justify-content: space-around;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50px;
}

#backwardButton {
    display: inherit;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 4px;
    padding: 0.8rem;
    border-color: $textColor;
    border-radius: 20px;
    color: $textBackground;
    rotate: 180deg;
    cursor: pointer;
}

#playAndPauseButton {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 0.8rem;
    background: transparent;
    border-radius: 20px;
    border-color: $textColor;
    color: $textBackground;
    cursor: pointer;
}

#forwardButton {
    display: inherit;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 4px;
    padding: 0.8rem;
    border-color: $textColor;
    border-radius: 20px;
    color: $textBackground;
    cursor: pointer;
}

#trashButton {
    display: flex;
    margin: 4px;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    color: $textColor;
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
}

#scissorsButton {
    display: flex;
    margin: 4px;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    color: $textColor;
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
}

#undoButton {
    display: flex;
    margin: 4px;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    color: $textColor;
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
}

#configButtons{
    position: absolute;
    color: $textColor;
    background-color: transparent;
    font-family: $fontFamily;
    border-radius: 50px;
    padding: 3px 20px 3px 20px;
}

#returnButton {
    position: inherit;
    display: flex;
    top: 1rem;
    left: 10px;
    background: inherit;
    color: inherit;
    font-family: inherit;
    border-radius: inherit;
    padding: inherit;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid $textBackground;
    cursor: pointer;
}

#returnButton:active {
    animation: 15s infinite ease-out;
    filter: invert(100%);
}

#applyConfig {
    position: inherit;
    display: flex;
    top: 1rem;
    left: 47rem;
    background: inherit;
    color: inherit;
    font-family: inherit;
    border-radius: inherit;
    padding: inherit;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid $textBackground;
    cursor: pointer;
}

#applyConfig:active {
    animation: 15s infinite ease-out;
    filter: invert(100%);
}

.applyConfigImg {
    align-items: center;
    opacity: 88%;
}

.applyConfigText {
    font-size: 14px;
}

