@import '../variables.scss';

.editorHeader{
    display: flex;
    justify-content: center;
}

.imageBox {
    display: inherit;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
 
.dropZone{
    color: $textColor;
    font-family: $fontFamily;
}

.fileInput {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.fileInput > input {
    opacity: 0;
}



#imagePrev {
    width: 30%;
    height: 12rem;
    border-radius: 10px;
}

#file {
    width: 40.5%;
    height: 35.5%;
    position: absolute;
    
}
