@import '../variables.scss';

.boxAudioWave {
    display: inherit;
    flex-direction: column;
    position: relative;
    border: 2px solid white;
    left: 8%;
    width: 90%;
    height: 15rem;
    justify-content: space-around;
    // overflow: hidden;
    // overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
}

#boxTimeAudioWav {
    display: inherit;
    justify-content: space-between;
    color: white;
    margin: -20px 5px 0px 5px;
    // margin-right: 20px;
}

.elementsTimeBar {
    font-size: 20px;
}

.boxFromImageWave {
    display: inherit;
    width: 100%;
    height: 50%;
    align-items: center;   
}

.imageWave {
    position: relative;
    border: 4px solid ;
    border-color: #61dafb;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    cursor: pointer;
    // margin-right: -10px;
}


#pointControlWave {
    position: absolute;
    top: 0%;
    width: 5px;
    // margin-left: 98.8%;
    z-index: 1;
    left: 0%;
    height: 70%;
    border-radius: 20px;
    background-color: cornflowerblue;
}

#pointControlWave::before {
    content: '';
    display: flex;
    position: relative;
    left: -150%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: cornflowerblue;
    // border: 4px solid red;
    cursor: pointer;
}
#pointControlWave:active::before {
    cursor: grabbing;
}

.selectBordercolor {
    border-color: blue;
}