venv

node_modules
__pycache__

backEnd/app/storage/data/information_videos.json

backEnd/app/storage/sounds/sounds.zip

frontEnd/*.js

frontEnd/package-lock.json

app.exe

out

*.exe

document

backupDataBase.txt
backupFile.txt
*.mp3
*.wav
*.ogg
Spectrogram.png
Spectrogram2.png
videoframe_80712.png
.env