@import '../variables.scss';

.displayOff {
    display: none;
}
.displayOn {
    display: initial;
}

.displayFlex {
    display: flex;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputText {
    border:none;
    background-color: $textBackground;
    width: 60%;
    height: 45px;
    border-radius: 20px 20px;
    padding-left: 15px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    outline: none;
}


.editorPage {
    box-sizing: initial;
    position: absolute;
    // display: flex;
    right: 10px;  
    align-items: center; 
    color: $textColor;
    font-family: $fontFamily;
    font-size: medium;
    // margin: 0;
    padding-left: 11px;
    height: 2.5rem;
    width: 11%;
    gap: 8px; 
    border: 2px solid $textColor;
    border-radius: 20px;
    cursor: pointer;
}

.editorPage:active{
    color: $boxShadow;
    border-color: $boxShadow;
}

.returnPage {
    box-sizing: initial;
    position: absolute;
    display: flex;
    align-items: center; 
    color: $textColor;
    font-family: $fontFamily;
    font-size: medium;
    margin-left: 10px;
    padding-left: 11px;
    height: 2.5rem;
    width: 11%;
    gap: 8px; 
    border: 2px solid $textColor;
    border-radius: 20px;
    cursor: pointer;
}

.returnPage:active{
    color: $boxShadow;
    border-color: $boxShadow;
}

.minFontSize {
    font-size: 20px;
}

.maxFontSize {
    font-size: 40px;
}

.boxHeader {
    display: flex;
    justify-content: center;
}

.addTitle {
    text-align: center;
    // translate: -150%;
    color: $textColor;
    margin-top: 0;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    font-family: $fontFamily;
}


.buttonPlace {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.editar, .enviar {
    font-size: 105%;
    font-family: $fontFamily;
    margin: 1rem 0.3rem 0 0.3rem;
    height: 4rem;
    width: 14.8rem;
    border-radius: 20px;
    border: none;
    
}

.editar {
    background-color: black;
    color:$textColor;
    border-color: $textColor;
    cursor: pointer;
}

.editar:active {
    transition: all 0.3s ease;
    width: 13rem;
}

.editar:hover {
    border-style: groove;
}

.enviar {
    background: linear-gradient(to right, #4d90fe, #80e0a5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.enviar:hover {
    /* Você pode ajustar o gradiente para dar a sensação de que está "brilhando" */
    background: linear-gradient(to right, #6aafff, #99f0bb);
  
    /* Efeito de sombra para dar profundidade */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.enviar:active {
    transition: all 0.1s ease-out;
    width: 13rem;
}