@import '../variables.scss';

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 180px;
    background-color: $textBackground;
    border-radius: 20px;
}

.imageSpace {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12rem;
}


.imageSpace::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 44.5%;
    height: 100%;
    padding: 2px;
    background-color: $textColor;
    filter: blur(1.3em);
    opacity: 0.65;
}
