@import '../variables.scss';

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    // display: none;
    visibility: hidden;
}

.boxLoader {
    margin: 20px;
    --set-value: '';
    position: relative;
    width: 50%;
    height: 1.5rem;
    // border: 5px solid transparent;
    border-radius: 50px;
    background-color: $textBackground;
    overflow: hidden;
}

.boxLoader::before {
    content: '';
    position: absolute;
    width: var(--set-value);
    border-radius: 50px;
    transform-origin: left;
    inset: 0;
    background-image: linear-gradient(to right, $gradientBlue, $gradientGreen);
    animation: width 0.1s linear infinite;
}
