@import './variables.scss';

.progressBar {
    display: flex;
    justify-content: center;
}

.progressBar::before{
    filter: invert(90%);
    position: absolute;
    background-color: white;
    opacity: 90%;
    z-index: 2;
    content: '';
    top:-15px;
    padding: 33.4% 50%;
}


.w3Border {
    position: absolute;
    border-radius: 20px;
    border: 2px solid $gradientBlue; 
    width: 50%;
    top: 38%;
    z-index: 3;
    // height: 24px;
}

.w3 {
    z-index: 1;
    border-radius: 20px;
    height: 30px;
    font-family: $fontFamily;
    // font-size: large;
    color: $textColor;
    background: linear-gradient(to right, $gradientBlue, $gradientGreen);
    text-align: center;
    align-content: center;
}