@import '../variables.scss';

#firstBox {
    display: flex;
    align-items: center;
    // width: 100%;
    gap: 10px;
    
}


#mainButton {
    display: flex;
    position: relative;
    // width: 95%;
    height: 75px;
    border-radius: 50px;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: $navBackground;
    border: solid $textBackground;
    font: initial;
    // cursor: pointer;
}

#thumbnail {
    width: 90px;
    height: 70px;
    border-radius: 30px;
    border: 2px solid $gradientBlue;
}

#mainTitle {
    font-family: $fontFamily;
    color: $textColor;
    font-size: medium;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    overflow: hidden;
    width: 50%;
    height: 20px;
}


#playHoverButton {
    visibility: hidden;
    display: flex;
    position: absolute;
    color: $textColor;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 5px 2px 5px $background;   
    // z-index: 2;
}


#playHoverButton:active {
    color: transparent;
    box-shadow: none;
}

#mainBox {
    display: flex;
    visibility: hidden;
    position: absolute;
    // left: 32.5%;
    left: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#mainBox::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $background;
    border-radius: 40px;
    opacity: 80%;
    z-index: -1;
}

#mainButton:hover > #mainBox , #mainButton:hover >  #playHoverButton  {
    visibility: visible;
}

#volume {
    // display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(90%);
    padding: 8px;
}

#volume:active {
    filter: none;
}

#volumeRange {
    // display: flex;
    margin-right: 10px;
    appearance: none;
    border-radius: 60px;
    background-color: $background;
    opacity: 90%;
}

#volumeRange::-webkit-slider-runnable-track {
    background: linear-gradient(to right, $gradientBlue var(--progress-value, 100%), transparent 0%);
    height: 10px;
    border-radius: 40px;
    cursor:pointer
}

#volumeRange::-webkit-slider-runnable-track:active {
    cursor:grabbing; 
}

#volumeRange::-webkit-slider-thumb {
    visibility: hidden;
}

#trashButton {
    display: flex;
    background-color: $navBackground;
    padding: 10px;
    border-radius: 50%;
    border-color: $textBackground;
    border-style: solid;
    cursor: pointer;
}

#trashButton:active {
    border-color: transparent;
}

#trashIcon {
    filter: invert(100%);
}

#trashButton:active > #trashIcon {
    filter: none;
}

#decisionBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.decisionButton {
    padding: 5px;
    display: flex;
    background: $navBackground;
    border-radius: 50%;
    border-color: $textBackground;
    border-style: solid;
    align-items: center;
    cursor: pointer;
}

.decisionButton:active {
    border-color: transparent;
}

#checkDecision {
    filter: invert(100%);
}

#cancelDecision {
    filter: invert(100%);
}

#applyIcon:active > #checkDecision {
    filter: none;
}

#cancelButton:active > #cancelDecision {
    filter: none;
}

#editButton {
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background-color: $navBackground;
    border-radius: 50%;
    border-color: $textColor;
    border-style: solid;
    cursor: pointer;
}

#editIcon {
    justify-content: center;
    align-items: center;
    color: $textColor;
    // width: 20px;
    height: 20px;
}

#editButton:active > #editIcon, #editButton:active {
    color: $boxShadow;
    border-color: $boxShadow;
}