@import '../variables.scss';

#mainPage {
    display: flex;
    justify-content: center;
    position: sticky;
} 

.mainPageButton{
    display: inherit;
    width: 20%;
    height: 5%;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color: $navBackground;
    border: 2px solid $textColor;
    cursor: pointer;
    text-decoration: none;
    padding-right: 15px;
}

.buttonIcon {
    width: 25%;
    height: 25%;
    filter: invert(100%);
}

.buttonText {
    font-size: small;
    font-family: $fontFamily;
    color: $textColor;
}

#add {
    border-right: none;
    border-radius: 20px 0 0 20px;
}


#add:active {
    border-color: $navBackground;
    box-shadow: 2px 5px 10px 1px $boxShadow;
    animation: 10s infinite ease-out;
}

#edit {
    border-left: none;
    border-right: none;
}

#edit:active {
    border-color: $navBackground;
    box-shadow: 10px 5px 10px 1px $boxShadow;
    animation: 10s infinite ease-out;
}

#config {
    border-left: none;
    border-radius: 0 20px 20px 0;
    
}

#config:active {
    border-color: $navBackground;
    box-shadow: 10px 5px 10px 1px $boxShadow;
    animation: 10s infinite ease-out;
}