@import '../variables.scss';

.displayOff {
    display: none;
}
.displayOn {
    display: initial;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text {
    border:none;
    background-color: $textBackground;
    width: 60%;
    height: 45px;
    border-radius: 20px 20px;
    padding-left: 15px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    outline: none;
}




.returnPage {
    position: absolute;
    display: flex;
    align-items: center; 
    color: $textColor;
    font-family: $fontFamily;
    font-size: medium;
    margin: 0;
    padding-left: 5px;
    height: 2rem;
    width: 10%;
    gap: 0.2rem; 
    border: 2px solid $textColor;
    border-radius: 20px;
    cursor: pointer;
}

.returnPage::before {
    content: '';
    width: 1.5rem; 
    height: 1.2rem; 
    background-size: contain; 
    background-image: url('../../icon/left-from-bracket.png');
    filter: invert(100%);
    background-repeat: no-repeat;
}

.returnPage:active{
    height: 1.9rem;
    width: 9%;
    padding-right: 5px;
    font-size: small;
}

.addTitle {
    // translate: -150%;
    color: $textColor;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-family: $fontFamily;
}


.button_place {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.editar, .enviar {
    font-size: 105%;
    font-family: $fontFamily;
    margin: 1rem 0.3rem 0 0.3rem;
    height: 4rem;
    width: 14.8rem;
    border-radius: 20px;
    border: none;
    
}

.editar {
    background-color: black;
    color:$textColor;
    border-color: $textColor;
    cursor: pointer;
}

.editar:active {
    transition: all 0.3s ease;
    width: 13rem;
}

.editar:hover {
    border-style: groove;
}

.enviar {
    background: linear-gradient(to right, #4d90fe, #80e0a5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.enviar:hover {
    /* Você pode ajustar o gradiente para dar a sensação de que está "brilhando" */
    background: linear-gradient(to right, #6aafff, #99f0bb);
  
    /* Efeito de sombra para dar profundidade */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.enviar:active {
    transition: all 0.1s ease-out;
    width: 13rem;
}