@import '../variables.scss';

img {
    border-radius: 5px;
}
.image_space {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12rem;
    // text-align: center;

}


.image_space::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 44.5%;
    height: 100%;
    padding: 2px;
    background-color: $textColor;
    filter: blur(1.3em);
    opacity: 0.65;
}
