* {
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: solid 3px;
}

.menu {
    display: inline-block;
    padding: 0 2% 0.2% 2%;
    text-align: center;
}

.menu:hover {
    background-color: yellow;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10rem;
}

.container {
    position: relative;
    display: flex;
    border: solid;
    margin-right: 1rem;
    border-radius: 1rem;
}

.item {
    display: flex;
    margin: 0.6rem;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    /* border: solid; */
}

img {
    width: 5rem;
    height: 5rem;
}

.play {
    position: absolute;
    margin-top: 0.62rem;
    margin-left: 3.6rem;
    opacity: 0;
}

.container:hover .play {
    transition: opacity 0.3s ease;
    opacity: 0.8;
}
.container:hover {
    transition: opacity 0.3s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.151);
}
.sound {
    opacity: 0;
}